.OrderSummary table {
  width: 100%;
}

.OrderSummary table > tbody > tr:first-child > th {
  text-align: left;
}

.OrderSummary table.OrderTotal tbody > tr td:nth-child(2) {
  text-align: right;
  padding-right: 74px;
}
